* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.portal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20em;
  height: 18em;
}

.loading-ctn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.loading{
  color: #4D5B9E;
}

.portal h1{
  font-size: 4em;
}

.btn{
  background: #4D5B9E;
  color: white;
  padding: 1em 1.5em;
  border-radius: 7px;
  width: 20em;
}

.center{
  text-align: center;
}

.trivia-page{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.trivia-content{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 3em;
}

.question-ctn{
  margin-top: 0;
  margin-bottom: 0;
}

.q-text{
  color: #293264;
  font-size: 2em;
  margin-top: 0;
}

.answers-ctn {
  border-bottom: 1px solid #DBDEF0;
  padding-bottom: 2em;
}

input[type="radio"]{
  appearance: none;
}

.radio{
  cursor: pointer;
  border: 1px solid #4D5B9E;
  border-radius: 0.5em;
  margin-right: 1.5em;
  color: #4D5B9E;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.3em 1em;
  text-align: center;
}

.green{
  background-color: #94D7A2;
}

.blue{
  background-color: #D6DBF5;
}

.red{
  background-color: #F8BCBC;
}

button:disabled{
  opacity: 50%;
  cursor: not-allowed;
}

.bigger-font{
  font-size: 1.2em;
}

.score{
  font-size: 1.5em;
  color: #293264;
}

.unselectable{
  -webkit-user-select: none; /* Safari */
  user-select: none;
}